raw_data
cleaned_data
converted_data
data
LegacyFiles
model_dir
.ipynb_checkpoints
__pycache__
*.pyc
data_0
**/*.ipynb_checkpoints/
*/.ipynb_checkpoints/*.ipynb
**/*.jpg
**/*.tif
**/*.png
saved_model_UNet_0i-5j_down
saved_model_ResUNet_0i-5j_down
saved_model_ICL_ResUNet_0i-5j_down
saved_model_FD_UNet_0i-5j_down
